.idea/
.docker/php/logs/
.docker/mysql/data/
.docker/composer/tmp/
composer.lock

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
symfony.lock
###< symfony/framework-bundle ###
###> symfony/phpunit-bridge ###
/.phpunit.cache/
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
